<p>
  <% if @card %>
    Введите перевод для:
    <%= @card.original_text %>
    <%= simple_form_for @card, url: trainer_path, method: :put do %>
      <%= hidden_field_tag(:card_id, @card.id) %>
      <%= label_tag(:translated_text, "Перевод:") %>
      <%= text_field_tag(:translated_text) %>
      <%= image_tag @card.card_photo.url(:medium) %>
      <%= submit_tag("Проверить") %>
    <% end %>
  <% else %>
    <%= "Новых карточек нет." %>
  <% end %>
</p>

<%= render "layouts/notice"%>
