<p>
  <% if @card.nil? %>
    <%= "Новых карточек нет." %>
  <% else %>
    <%= @card.original_text %>
    <%= form_tag(trainer_path, method: "put") do %>
      <%= hidden_field_tag(:card_id, @card.id) %>
      <%= label_tag(:translated_text, "Translated text:") %>
      <%= text_field_tag(:translated_text) %>
      <%= submit_tag("Проверить") %>
    <% end %>
  <% end %>
</p>
<p>
  <%= flash[:notice] %>
</p>
