<%= simple_form_for deck do |f| %>
  <% if deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deck.errors.count, "error") %> <%= I18n.t('not_allow_to_save_deck') %>::</h2>

      <ul>
      <% deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t('deck_name') %><br>
    <%= f.input_field :name, size: 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<%= link_to I18n.t('back'), decks_path %>
