<table class="table">
  <tr>
    <th><%= I18n.t('deck_name') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% current_user.decks.each do |deck| %>
    <tr>
      <td><%= deck.name %></td>
      <td><%= link_to I18n.t('edit'), edit_deck_path(deck) %></td>
      <td><%= link_to I18n.t('delete'), deck_path(deck), method: :delete, data: { confirm: I18n.t('are_you_sure') } %></td>
      <td><%= link_to I18n.t('add_card'), new_deck_card_path(deck) %></td>
      <td><%= link_to I18n.t('set_current'), set_current_deck_path(deck_id: deck.id) %></td>
    </tr>
  <% end %>
</table>
