<table class="table">
  <tr>
    <th>Имя колоды</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% current_user.decks.each do |deck| %>
    <tr>
      <td><%= deck.name %></td>
      <td><%= link_to "Редактировать", edit_deck_path(deck) %></td>
      <td><%= link_to "Удалить", deck_path(deck), method: :delete, data: { confirm: "Вы уверены?" } %></td>
      <td><%= link_to "Добавить карту", new_deck_card_path(deck) %></td>
      <td><%= link_to "Сделать текущей", set_current_deck_path(deck_id: deck.id) %></td>
    </tr>
  <% end %>
</table>
