<!DOCTYPE html>
<html>
<head>
  <title>Flashcard manager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    <% if current_user %>
      <%= link_to I18n.t('edit_profile'), edit_user_path(current_user) %> |
      <%= link_to I18n.t('logout'), logout_path, method: :post %> |
      <%= current_user.email %>
    <% else %>
      <%= link_to I18n.t('registration'), new_user_path %> |
      <%= link_to I18n.t('login'), login_path %>
    <% end %>
  </div>
  <div>
    <% if flash.any? %>
      <% flash.each do |message_type, message| %>
	<p class="alert alert-<%= message_type %>"><%= message %></p>
      <% end %>
    <% end %>
  </div>
  <section id="container">

    <header class="clearfix">
      <h1>Flashcard manager.</h1>
      <ul class="navigation-links">
	<% if current_user %>
	  <% if current_user.decks.empty? %>
	    <li>
	      <%= link_to I18n.t('add_deck'), new_deck_path %>
	    </li>
	  <% else %>
	    <li>
	      <%= link_to I18n.t('add_deck'), new_deck_path %>
	    </li>
	    <li>
	      <%= link_to I18n.t('all_user_cards'), cards_path %>
	    </li>
	    <li>
	      <%= link_to I18n.t('all_user_decks'), decks_path %>
	    </li>
	  <% end %>
	<% end %>
	<li>
  	  <%= link_to I18n.t('main'), root_path %>
	</li>
      </ul>
    </header>

    <section>
      <p>
        <%= I18n.t('flash_card_manager') %>
      </p>
    </section>
    
    <section>
      <%= yield %>
    </section>

  </section>

</body>
</html>
